{
  "swagger": "2.0",
  "info": {
    "title": "Sport DH Django API",
    "description": "API documentation for Sport DH Django",
    "termsOfService": "https://www.google.com/policies/terms/",
    "contact": {
      "email": "contact@magiceyes.local"
    },
    "license": {
      "name": "BSD License"
    },
    "version": "v1"
  },
  "host": "sport-be.daihiep.click",
  "schemes": [
    "http"
  ],
  "basePath": "/api",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "Basic": {
      "type": "basic"
    },
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "JWT authorization header using the Bearer scheme. Example: \"Bearer {token}\""
    }
  },
  "security": [
    {
      "Basic": []
    },
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/auth/login/": {
      "post": {
        "operationId": "auth_login_create",
        "description": "Custom login view that sets JWT tokens as HTTP-only cookies",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomTokenObtainPair"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomTokenObtainPair"
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "parameters": []
    },
    "/auth/logout/": {
      "post": {
        "operationId": "auth_logout_create",
        "description": "Custom logout view that clears JWT cookies",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomTokenRefresh"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomTokenRefresh"
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "parameters": []
    },
    "/auth/refresh/": {
      "post": {
        "operationId": "auth_refresh_create",
        "description": "Custom refresh view that sets new JWT access token as HTTP-only cookie",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomTokenRefresh"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CustomTokenRefresh"
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "parameters": []
    },
    "/auth/register/": {
      "post": {
        "operationId": "auth_register_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserRegister"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserRegister"
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "parameters": []
    },
    "/auth/verify/": {
      "post": {
        "operationId": "auth_verify_create",
        "description": "Takes a token and indicates if it is valid.  This view provides no\ninformation about a token's fitness for a particular use.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenVerify"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenVerify"
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "parameters": []
    },
    "/auth/veryfi_code/": {
      "put": {
        "operationId": "auth_veryfi_code_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserVerify"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserVerify"
            }
          }
        },
        "tags": [
          "auth"
        ]
      },
      "parameters": []
    },
    "/chatbot/": {
      "post": {
        "operationId": "chatbot_create",
        "summary": "Chat với chatbot local (phi3-mini)",
        "description": "Chatbot này sử dụng mô hình **phi3-mini** chạy qua **Ollama local**.\n\nNhập câu hỏi vào tham số `q` (body hoặc query param).",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Câu hỏi hoặc nội dung muốn hỏi chatbot",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Kết quả trả về từ chatbot",
            "schema": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "string"
                },
                "answer": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Thiếu tham số 'q'"
          }
        },
        "tags": [
          "chatbot"
        ]
      },
      "parameters": []
    },
    "/image_sport/{id}/delete/": {
      "delete": {
        "operationId": "image_sport_delete_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "image_sport"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this image sport.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/sport_center/": {
      "get": {
        "operationId": "sport_center_list",
        "description": "",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SportCenterDetail"
                  }
                }
              }
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_center"
        ]
      },
      "post": {
        "operationId": "sport_center_create",
        "description": "",
        "parameters": [
          {
            "name": "owner",
            "in": "formData",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "address",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "images",
            "in": "formData",
            "description": "List of image files",
            "required": false,
            "type": "file",
            "multiple": true
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SportCenter"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_center"
        ]
      },
      "parameters": []
    },
    "/sport_center/{id}": {
      "get": {
        "operationId": "sport_center_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SportCenterDetail"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_center"
        ]
      },
      "put": {
        "operationId": "sport_center_update",
        "description": "",
        "parameters": [
          {
            "name": "owner",
            "in": "formData",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "address",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "images",
            "in": "formData",
            "description": "List of image files",
            "required": false,
            "type": "file",
            "multiple": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SportCenter"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_center"
        ]
      },
      "patch": {
        "operationId": "sport_center_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "owner",
            "in": "formData",
            "required": false,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "address",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SportCenterDetail"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_center"
        ]
      },
      "delete": {
        "operationId": "sport_center_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_center"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this sport center.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/sport_field/": {
      "get": {
        "operationId": "sport_field_list",
        "description": "",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SportFieldDetail"
                  }
                }
              }
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_field"
        ]
      },
      "post": {
        "operationId": "sport_field_create",
        "description": "",
        "parameters": [
          {
            "name": "sport_center",
            "in": "formData",
            "required": false,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "price",
            "in": "formData",
            "required": false,
            "type": "number"
          },
          {
            "name": "status",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          {
            "name": "sport_type",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "FOOTBALL",
              "BADMINTON",
              "TENNIS",
              "PICK_A_BALL"
            ]
          },
          {
            "name": "images",
            "in": "formData",
            "description": "List of image files",
            "required": false,
            "type": "file",
            "multiple": true
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SportField"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_field"
        ]
      },
      "parameters": []
    },
    "/sport_field/{id}": {
      "get": {
        "operationId": "sport_field_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SportFieldDetail"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_field"
        ]
      },
      "put": {
        "operationId": "sport_field_update",
        "description": "",
        "parameters": [
          {
            "name": "sport_center",
            "in": "formData",
            "required": false,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "price",
            "in": "formData",
            "required": false,
            "type": "number"
          },
          {
            "name": "status",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          },
          {
            "name": "sport_type",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "FOOTBALL",
              "BADMINTON",
              "TENNIS",
              "PICK_A_BALL"
            ]
          },
          {
            "name": "images",
            "in": "formData",
            "description": "List of image files",
            "required": false,
            "type": "file",
            "multiple": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SportField"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_field"
        ]
      },
      "patch": {
        "operationId": "sport_field_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "sport_center",
            "in": "formData",
            "required": false,
            "type": "integer"
          },
          {
            "name": "name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "address",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 255
          },
          {
            "name": "sport_type",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "FOOTBALL",
              "BADMINTON",
              "TENNIS",
              "PICK_A_BALL"
            ]
          },
          {
            "name": "price",
            "in": "formData",
            "required": false,
            "type": "number"
          },
          {
            "name": "status",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "ACTIVE",
              "INACTIVE"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SportFieldDetail"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_field"
        ]
      },
      "delete": {
        "operationId": "sport_field_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "sport_field"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A unique integer value identifying this sport field.",
          "required": true,
          "type": "integer"
        }
      ]
    },
    "/user/": {
      "get": {
        "operationId": "user_list",
        "description": "",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/UserDetail"
                  }
                }
              }
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "user"
        ]
      },
      "post": {
        "operationId": "user_create",
        "description": "",
        "parameters": [
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "minLength": 1
          },
          {
            "name": "full_name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "x-nullable": true
          },
          {
            "name": "role",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "ADMIN",
              "OWNER",
              "USER"
            ]
          },
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "minLength": 1
          },
          {
            "name": "password",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "minLength": 8
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserCreate"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "user"
        ]
      },
      "parameters": []
    },
    "/user/me/": {
      "get": {
        "operationId": "user_me_list",
        "description": "Lấy thông tin chi tiết của user hiện tại",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDetail"
            }
          },
          "401": {
            "description": "Unauthorized - Cần đăng nhập"
          }
        },
        "tags": [
          "user"
        ],
        "security": [
          {
            "Basic": []
          },
          {
            "Bearer": []
          }
        ]
      },
      "parameters": []
    },
    "/user/update/settings/": {
      "put": {
        "operationId": "user_update_update_settings",
        "description": "",
        "parameters": [
          {
            "name": "settings",
            "in": "formData",
            "required": false,
            "type": "string",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDetail"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "user"
        ]
      },
      "parameters": []
    },
    "/user/{id}": {
      "get": {
        "operationId": "user_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDetail"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "user"
        ]
      },
      "put": {
        "operationId": "user_update",
        "description": "",
        "parameters": [
          {
            "name": "full_name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "x-nullable": true
          },
          {
            "name": "address",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 256,
            "minLength": 1,
            "x-nullable": true
          },
          {
            "name": "role",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "ADMIN",
              "OWNER",
              "USER"
            ]
          },
          {
            "name": "device_tokens",
            "in": "formData",
            "required": false,
            "type": "string",
            "x-nullable": true
          },
          {
            "name": "avatar_upload",
            "in": "formData",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserUpdate"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "user"
        ]
      },
      "patch": {
        "operationId": "user_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "last_login",
            "in": "formData",
            "required": false,
            "type": "string",
            "format": "date-time",
            "x-nullable": true
          },
          {
            "name": "is_superuser",
            "in": "formData",
            "description": "Designates that this user has all permissions without explicitly assigning them.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "email",
            "in": "formData",
            "required": true,
            "type": "string",
            "format": "email",
            "maxLength": 254,
            "minLength": 1
          },
          {
            "name": "password",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 128
          },
          {
            "name": "username",
            "in": "formData",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "minLength": 1
          },
          {
            "name": "full_name",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 128,
            "minLength": 1,
            "x-nullable": true
          },
          {
            "name": "avatar",
            "in": "formData",
            "required": false,
            "type": "file",
            "x-nullable": true
          },
          {
            "name": "role",
            "in": "formData",
            "required": false,
            "type": "string",
            "enum": [
              "ADMIN",
              "OWNER",
              "USER"
            ]
          },
          {
            "name": "settings",
            "in": "formData",
            "required": false,
            "type": "string",
            "x-nullable": true
          },
          {
            "name": "is_active",
            "in": "formData",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "address",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 256,
            "minLength": 1,
            "x-nullable": true
          },
          {
            "name": "verify_code",
            "in": "formData",
            "required": false,
            "type": "string",
            "maxLength": 10
          },
          {
            "name": "device_tokens",
            "in": "formData",
            "required": false,
            "type": "string",
            "x-nullable": true
          },
          {
            "name": "is_delete",
            "in": "formData",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "groups",
            "in": "formData",
            "description": "The groups this user belongs to. A user will get all permissions granted to each of their groups.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer"
            },
            "uniqueItems": true
          },
          {
            "name": "user_permissions",
            "in": "formData",
            "description": "Specific permissions for this user.",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer"
            },
            "uniqueItems": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserDetail"
            }
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "user"
        ]
      },
      "delete": {
        "operationId": "user_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": [
          "user"
        ]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "A UUID string identifying this user.",
          "required": true,
          "type": "string",
          "format": "uuid"
        }
      ]
    }
  },
  "definitions": {
    "CustomTokenObtainPair": {
      "required": [
        "username",
        "password"
      ],
      "type": "object",
      "properties": {
        "username": {
          "title": "Username",
          "type": "string",
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "CustomTokenRefresh": {
      "required": [
        "refresh"
      ],
      "type": "object",
      "properties": {
        "refresh": {
          "title": "Refresh",
          "type": "string",
          "minLength": 1
        },
        "access": {
          "title": "Access",
          "type": "string",
          "readOnly": true,
          "minLength": 1
        }
      }
    },
    "UserRegister": {
      "required": [
        "username",
        "email"
      ],
      "type": "object",
      "properties": {
        "username": {
          "title": "Username",
          "type": "string",
          "maxLength": 128,
          "minLength": 1
        },
        "full_name": {
          "title": "Full name",
          "type": "string",
          "maxLength": 128,
          "minLength": 1,
          "x-nullable": true
        },
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "maxLength": 128,
          "minLength": 8
        }
      }
    },
    "TokenVerify": {
      "required": [
        "token"
      ],
      "type": "object",
      "properties": {
        "token": {
          "title": "Token",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "UserVerify": {
      "required": [
        "email"
      ],
      "type": "object",
      "properties": {
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "verify_code": {
          "title": "Verify code",
          "type": "string",
          "maxLength": 10
        }
      }
    },
    "SportCenterDetail": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "owner": {
          "title": "Owner",
          "type": "string",
          "format": "uuid"
        },
        "images": {
          "title": "Images",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 255
        },
        "address": {
          "title": "Address",
          "type": "string",
          "maxLength": 255
        },
        "created_at": {
          "title": "Created at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "SportCenter": {
      "type": "object",
      "properties": {
        "owner": {
          "title": "Owner",
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 255
        },
        "address": {
          "title": "Address",
          "type": "string",
          "maxLength": 255
        }
      }
    },
    "SportFieldDetail": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "sport_center": {
          "title": "Sport center",
          "type": "integer"
        },
        "images": {
          "title": "Images",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 255
        },
        "address": {
          "title": "Address",
          "type": "string",
          "maxLength": 255
        },
        "sport_type": {
          "title": "Sport type",
          "type": "string",
          "enum": [
            "FOOTBALL",
            "BADMINTON",
            "TENNIS",
            "PICK_A_BALL"
          ]
        },
        "price": {
          "title": "Price",
          "type": "number"
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "created_at": {
          "title": "Created at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "SportField": {
      "type": "object",
      "properties": {
        "sport_center": {
          "title": "Sport center",
          "type": "integer"
        },
        "name": {
          "title": "Name",
          "type": "string",
          "maxLength": 255
        },
        "price": {
          "title": "Price",
          "type": "number"
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "sport_type": {
          "title": "Sport type",
          "type": "string",
          "enum": [
            "FOOTBALL",
            "BADMINTON",
            "TENNIS",
            "PICK_A_BALL"
          ]
        }
      }
    },
    "UserDetail": {
      "required": [
        "email",
        "username"
      ],
      "type": "object",
      "properties": {
        "id": {
          "title": "Id",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "last_login": {
          "title": "Last login",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "is_superuser": {
          "title": "Superuser status",
          "description": "Designates that this user has all permissions without explicitly assigning them.",
          "type": "boolean"
        },
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "maxLength": 128
        },
        "username": {
          "title": "Username",
          "type": "string",
          "maxLength": 128,
          "minLength": 1
        },
        "full_name": {
          "title": "Full name",
          "type": "string",
          "maxLength": 128,
          "minLength": 1,
          "x-nullable": true
        },
        "avatar": {
          "title": "Avatar",
          "type": "string",
          "readOnly": true,
          "x-nullable": true,
          "format": "uri"
        },
        "role": {
          "title": "Role",
          "type": "string",
          "enum": [
            "ADMIN",
            "OWNER",
            "USER"
          ]
        },
        "settings": {
          "title": "Settings",
          "type": "object",
          "x-nullable": true
        },
        "is_active": {
          "title": "Is active",
          "type": "boolean"
        },
        "address": {
          "title": "Address",
          "type": "string",
          "maxLength": 256,
          "minLength": 1,
          "x-nullable": true
        },
        "verify_code": {
          "title": "Verify code",
          "type": "string",
          "maxLength": 10
        },
        "device_tokens": {
          "title": "Device tokens",
          "type": "object",
          "x-nullable": true
        },
        "is_delete": {
          "title": "Is delete",
          "type": "boolean"
        },
        "created_at": {
          "title": "Created at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "updated_at": {
          "title": "Updated at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "groups": {
          "description": "The groups this user belongs to. A user will get all permissions granted to each of their groups.",
          "type": "array",
          "items": {
            "description": "The groups this user belongs to. A user will get all permissions granted to each of their groups.",
            "type": "integer"
          },
          "uniqueItems": true
        },
        "user_permissions": {
          "description": "Specific permissions for this user.",
          "type": "array",
          "items": {
            "description": "Specific permissions for this user.",
            "type": "integer"
          },
          "uniqueItems": true
        }
      }
    },
    "UserCreate": {
      "required": [
        "username",
        "email"
      ],
      "type": "object",
      "properties": {
        "username": {
          "title": "Username",
          "type": "string",
          "maxLength": 128,
          "minLength": 1
        },
        "full_name": {
          "title": "Full name",
          "type": "string",
          "maxLength": 128,
          "minLength": 1,
          "x-nullable": true
        },
        "role": {
          "title": "Role",
          "type": "string",
          "enum": [
            "ADMIN",
            "OWNER",
            "USER"
          ]
        },
        "email": {
          "title": "Email",
          "type": "string",
          "format": "email",
          "maxLength": 254,
          "minLength": 1
        },
        "password": {
          "title": "Password",
          "type": "string",
          "maxLength": 128,
          "minLength": 8
        }
      }
    },
    "UserUpdate": {
      "type": "object",
      "properties": {
        "full_name": {
          "title": "Full name",
          "type": "string",
          "maxLength": 128,
          "minLength": 1,
          "x-nullable": true
        },
        "address": {
          "title": "Address",
          "type": "string",
          "maxLength": 256,
          "minLength": 1,
          "x-nullable": true
        },
        "role": {
          "title": "Role",
          "type": "string",
          "enum": [
            "ADMIN",
            "OWNER",
            "USER"
          ]
        },
        "device_tokens": {
          "title": "Device tokens",
          "type": "object",
          "x-nullable": true
        },
        "avatar_upload": {
          "title": "Avatar upload",
          "type": "string",
          "readOnly": true,
          "format": "uri"
        },
        "avatar_url": {
          "title": "Avatar url",
          "type": "string",
          "readOnly": true
        }
      }
    }
  }
}
